{% from "_formhelpers.html" import render_field %}
{% extends "base.html" %}
{% block title %}
ログイン - {{ super() }}
{% endblock %}
{% block content %}
{% for message in get_flashed_messages() %}
{{ message }}
{% endfor %}
<div class="row mt-5">
    <h3>ログイン</h3>
</div>
<div class="row d-flex flex-column">
    <form action="" method="POST">
        {{ form.csrf_token }}
        {{ render_field(form.email) }}
        {{ render_field(form.password) }}
        {{ form.submit() }}
    </form>
    <a class="mt-2" href="{{ url_for('app.forgot_password') }}">
        パスワードを忘れた場合
    </a>
</div>
{% endblock %}
